.signUp-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15%;
}
.signup-title{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
}
.custom-vstack{
    display: "flex";
    align-items: center;
    justify-content: center;
    padding: 16px;
    -webkit-box-shadow: "0px 0px 15px -10px #000000"; 
    box-shadow:" 0px 0px 15px -10px #000000";
    width: 500px;
    background-color: #DEDEDE;
}
.form-control{
    background-color: inherit;
}
.login-sub{
    color: blue;
    font-size: 16px;
    font-weight: 300;
    border: none;
    outline: none;
}
.login-sub-con{
    display: flex;
    padding: 5px;
}